<section id="profile" class=" container  my-3" [class.profile-hidden]="profileHiddin">

  <div class="profile pb-5">

    <div class="row p-5">

      <div class=" col-md-12 text-center mb-3">
        <div class="row">
          <div class="col-md-4 profile-img mb-4">
            <img class="w-50" src="../../../assets/avatar.png">
          </div>
        </div>
      </div>

      <div class="row profile-content">
        <div class="col-12">
          <div class="row">
            <div class="col-md-5  px-3 text-left ">
              <h6 class="profile-title ">
                <strong>Company Name:</strong> {{currentCompanyInfo?.company_name}}
              </h6>
              <h6 class="profile-title ">
                <strong>Company Owner:</strong> {{currentCompanyInfo?.company_owner}}
              </h6>

              <p class="profile-about-content mt-4">
                {{currentCompanyInfo?.company_description}}
              </p>
            </div>


            <div class="col-md-7">
              <div class="row ">

                <div class="col-6 mb-3">
                  <p class="profile-email "><strong>Email: </strong> </p>
                  <p>...</p>
                </div>

                <div class="col-6 mb-3">
                  <p class="profile-type"><strong>Company type: </strong></p>
                  <p>{{currentCompanyInfo?.company_type}}</p>
                </div>

                <div class="col-6 my-3">
                  <p class="profile-number "><strong>phone number: </strong></p>
                  <p>{{currentCompanyInfo?.telephone}}</p>
                </div>


                <div class="col-6 my-3">
                  <p class="profile-subscription">
                    <strong>Package subscription:</strong>
                  </p>
                  <p>...</p>
                </div>

                <div class="col-6 my-3">
                  <p class="profile-address"><strong>Address: </strong></p>
                  <p>...</p>

                </div>

              </div>

            </div>

          </div>
        </div>
      </div>



    </div>

    <div class="col-12 text-center form-setting  mt-5">
      <button (click)="profileEdit()" class="btn mx-2">Edit your profile</button>
      <button (click)="deleteProfile()" class="btn mx-2  ">Delete your profile</button>

    </div>
  </div>




</section>




<section id="profileEdit" *ngIf="profileHiddin " class="container">
  <div class="row">
    <div class="col-12 mb-4">
      <h5 class="profile-edit-title">Edit your profile</h5>
    </div>

    <div class="col-12  ">
      <form [formGroup]="profileForm" (ngSubmit)="onSubmit(profileForm.value)">
        <div class="row ">


          <div class="mx-auto col-10">
            <div class="row">
              <div class="form-group mx-auto col-6 ">
                <label class="w-100" for="company_name">Company Name: </label>
                <input type="text" class="w-100" formControlName="company_name" required>
                <!-- <div style="color:red" *ngIf=" profileForm.controls.companyName.errors?.required &&
              (profileForm.controls.companyName.dirty || profileForm.controls.companyName.touched)">
              <h6>
                Company name is required.
              </h6>
            </div> -->
              </div>

              <div class="form-group mx-auto col-6 ">
                <label class="w-100" for="company_owner">Company Owner: </label>
                <input type="text" class="w-100" formControlName="company_owner" required>
                <!-- <div style="color:red" *ngIf=" profileForm.controls.companyName.errors?.required &&
              (profileForm.controls.companyName.dirty || profileForm.controls.companyName.touched)">
              <h6>
                Company owner is required.
              </h6>
            </div> -->
              </div>


            </div>
          </div>



          <div class="col-10 mx-auto">
            <div class="row">
              <div class="form-group  mx-auto col-6">
                <label class="w-100" for="companyEmail">Email: </label>
                <input class="w-100" type="email" formControlName="companyEmail" required>
                <!-- <div style="color:red"
                  *ngIf="profileForm.controls.companyEmail.errors?.required && (profileForm.controls.companyEmail.dirty || profileForm.controls.companyEmail.touched)">
                  <h6>
                    Company email is required.
                  </h6>
                </div> -->
              </div>

              <div class="form-group  mx-auto col-6">
                <label class="w-100" for="telephone">telephone: </label>
                <input class="w-100" type="tel" formControlName="telephone" required>
                <!-- <div style="color:red"
                  *ngIf="profileForm.controls.companyTel.errors?.required && (profileForm.controls.companyTel.dirty || profileForm.controls.companyTel.touched)">
                  <h6>
                    Company telephone is required.
                  </h6>
                </div> -->
              </div>

            </div>

          </div>


          <div class="form-group  mx-auto col-10">
            <label class="w-100" for="companyAddress">Address: </label>
            <input class="w-100" type="text" formControlName="companyAddress" required>
            <!-- <div style="color:red"
              *ngIf="profileForm.controls.companyAddress.errors?.required && (profileForm.controls.companyAddress.dirty || profileForm.controls.companyAddress.touched)">
              <h6>
                Company address is required.
              </h6>
            </div> -->
          </div>


          <div class="col-10 mx-auto">
            <div class="row">

              <div class="form-group  mx-auto col-6">
                <label class="w-100" for="company_type">Company type: </label>
                <input class="w-100" type="text" formControlName="company_type" required>
                <!-- <div style="color:red"
                  *ngIf="profileForm.controls.companyType.errors?.required && (profileForm.controls.companyType.dirty || profileForm.controls.companyType.touched)">
                  <h6>
                    Company type is required.
                  </h6>
                </div> -->
              </div>

              <div class="form-group  mx-auto col-6">
                <label class="w-100" for="packageSubs">Package subscription: </label>
                <input class="w-100" type="text" formControlName="packageSubs" required>
                <!-- <div style="color:red"
                  *ngIf="profileForm.controls.packageSubs.errors?.required && (profileForm.controls.packageSubs.dirty || profileForm.controls.packageSubs.touched)">
                  <h6>
                    package subscription is required.
                  </h6>
                </div> -->
              </div>
            </div>

          </div>

          <div class="form-group mx-auto col-10">
            <label class="w-100" for="company_description">Company Description: </label>
            <textarea cols="30" rows="5" type="text" class="w-100" formControlName="company_description">

            </textarea>
          </div>


        </div>

        <div class="text-center col-12 form-setting my-5">
          <button type="submit" class="btn mx-2">
            SAVE</button>
          <button type="reset" class="btn mx-2 ">
            CANCEL</button>

        </div>

      </form>


    </div>

  </div>

</section>
