<form id="editForm" [formGroup]="editForm" (ngSubmit)="editProject()" #form="ngForm" class="container" novalidate>
  <div class="row">

    <div class="form-group mx-auto col-10">
      <label class="w-100" for="projectName">Project Name: </label>
      <input type="text" class="w-100" formControlName="projectName">
      <div *ngIf=" editForm.controls.projectName.errors?.required &&
           (editForm.controls.projectName.dirty || editForm.controls.projectName.touched)" required>
        <span>
          Project Name is required.
        </span>
      </div>
    </div>



    <div class="form-group mx-auto col-10">
      <label class="w-100" for="projectCategory">Project Category: </label>
      <input type="text" class="w-100" formControlName="projectCategory">
      <div *ngIf=" editForm.controls.projectCategory.errors?.required &&
        (editForm.controls.projectCategory.dirty || editForm.controls.projectCategory.touched)" required>
        <span>
          Project Category is required.
        </span>
      </div>
    </div>


    <div class="form-group mx-auto col-10">
      <label class="w-100" for="projectDesc">Project Description: </label>
      <textarea cols="30" rows="5" type="text" class="w-100" formControlName="projectDesc">
  </textarea>
      <div *ngIf=" editForm.controls.projectDesc.errors?.required &&
       (editForm.controls.projectDesc.dirty || editForm.controls.projectDesc.touched)" required>
        <span>
          Project Description is required.
        </span>
      </div>
    </div>


    <div class="row form-setting mt-5">
      <div class="col-12 text-center">
        <div class="button-border btn  mx-3  d-inline-block  ">
          <button type="submit" [disabled]="!editForm.valid" class="btn save-edit">
            SAVE</button>
        </div>
        <div class="button-border btn mx-3 d-inline-block">
          <button [mat-dialog-close] class="btn cancel-edit  ">
            CANCEL</button>
        </div>
      </div>
    </div>



  </div>
</form>
