<section id="projects" class="container">



  <div class="row ">

    <div class="col-12">
      <h5 class="projects-title">
        Your Company Projects
      </h5>
    </div>
  </div>

  <div class="projects row px-5">

    <div class="my-4 col-md-4 project-box p-3" *ngFor="let project of projects ; index as index ">

      <mat-card class="project-content position-relative">
        {{project.name}}

        <div class="position-absolute project-setting">


          <mat-icon (click)="popup(index)">visibility</mat-icon>
          <mat-icon class="edit-color">edit</mat-icon>
          <mat-icon class="secondary-color">clear</mat-icon>
        </div>

      </mat-card>


    </div>
    <div *ngIf="isOpen" class="popup prim-color">
      {{projects[index]['name']}}
      <mat-icon (click)="isOpen=!isOpen">close</mat-icon>
    </div>

  </div>

  <div class="add-btn secondary-color d-flex align-items-center">
    <mat-icon>add</mat-icon>Add New Project!
  </div>

</section>
