*:focus {
  outline: none;
  box-shadow: none;
}


mat-icon {
  cursor: pointer;
}

#services {
  background-color: #fff;
  border-radius: 8px;
  padding: 0 !important;
  position: relative;
}


#services .services-title {
  background-color: #F60000;
  padding: 15px;
  color: white;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  margin-bottom: 50px;
}

#services .services {
  margin-top: 50px;
}

#services .service-content {
  border: 1px #e3e3e3 solid;
}

#services .service-content h5 {
  font-weight: 700;
  font-size: 18px;
}

#services .service-box {
  min-height: 160px;
}

#services .service-box mat-card {
  min-height: 150px;
}

#services .show-btn {
  bottom: 10px;
  right: 10px;
}

#services .show-btn button {
  background-color: #F60000;
  color: white;
  font-size: 14px;
}

#services .cat-btn {
  right: 250px;
  position: absolute;
  top: 90px;
  font-weight: 700;
  cursor: pointer;
}

#services .serv-btn {
  right: 30px;
  position: absolute;
  top: 90px;
  font-weight: 700;
  cursor: pointer;
}

#services .service-setting {
  right: 6px;
  bottom: 6px;

}

#services .single-service {
  border: 1px #e3e3e3 solid;
}

#services .single-service h5 {
  font-size: 17px;
  font-weight: 700;
}

#services .service-setting mat-icon {
  margin: 0 10px;
}


.mat-dialog-actions {
  float: right;
}

.close-btn {
  border-radius: 6px;
  background-color: #F60000;
  color: #fff;
}

#editServcieForm span {
  font-size: 12px;
  font-weight: 800;
}

#editServcieForm label {
  font-weight: 700;
}

.services-list {}

.hide {
  display: none;
}

.show {
  display: block;
}

#newServices .newServices-title {
  background-color: #F60000;
  padding: 15px;
  color: white;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  margin-bottom: 50px;
}

#newServices {
  background-color: #fff;
  border-radius: 8px;
  padding: 0 !important;
}

#newServices input {
  padding: 15px;
  border-radius: 5px;
  border: 1px solid #f2f2f2eb;
  color: #646464;
  font-size: 15px;
  background-color: #f2f2f2eb;
  margin: 0 auto;
  max-height: 2em
}

#newServices label {
  font-weight: 700;
}

#newServices h6 {
  font-size: 11px;
  font-weight: 700;
}

#newServices .form-group {
  margin-bottom: 30px;
}

#newServices textarea {
  resize: none;
  border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #f2f2f2eb;
  color: #646464;
  font-size: 15px;
  background-color: #f2f2f2eb;
}

#newServices .form-setting button:nth-of-type(1) {
  background-color: #F60000;
  color: #fff;
}

#newServices .form-setting button:nth-of-type(2) {
  background-color: #000;
  color: #fff;
}

#newServices input[type=file] {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

#newServices .service-img {
  font-size: 12px;
  background-color: #646464;
  border-radius: 4px;
  padding: 4px 0;
  padding-left: 6px;
  color: #fff;
  cursor: pointer;

}





#newCategory .newCat-title {
  background-color: #F60000;
  padding: 15px;
  color: white;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  margin-bottom: 50px;
}

#newCategory {
  background-color: #fff;
  border-radius: 8px;
  padding: 0 !important;
}

#newCategory input {
  padding: 15px;
  border-radius: 5px;
  border: 1px solid #f2f2f2eb;
  color: #646464;
  font-size: 15px;
  background-color: #f2f2f2eb;
  margin: 0 auto;
  max-height: 2em
}

#newCategory label {
  font-weight: 700;
}

#newCategory h6 {
  font-size: 11px;
  font-weight: 700;
}

#newCategory .form-group {
  margin-bottom: 30px;
}

#newCategory textarea {
  resize: none;
  border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #f2f2f2eb;
  color: #646464;
  font-size: 15px;
  background-color: #f2f2f2eb;
}

#newCategory .form-setting button:nth-of-type(1) {
  background-color: #F60000;
  color: #fff;
}

#newCategory .form-setting button:nth-of-type(2) {
  background-color: #000;
  color: #fff;
}

#newCategory input[type=file] {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

#newCategory .cat-img {
  font-size: 14px;
  background-color: #646464;
  border-radius: 4px;
  padding: 5px 0;
  padding-left: 6px;
  color: #fff;
  cursor: pointer;
}

.form-setting button:nth-of-type(1) {
  background-color: #F60000;
  color: #fff;
}

.form-setting button:nth-of-type(2) {
  background-color: #000;
  color: #fff;
}

#editServcieForm textarea {
  resize: none;
  border-radius: 5px;
  border: 1px solid #f2f2f2eb;
  color: #646464;
  font-size: 15px;
  background-color: #f2f2f2eb;
}

#editServcieForm input {
  border-radius: 5px;
  border: 1px solid #f2f2f2eb;
  color: #646464;
  padding: 6px;
  font-size: 15px;
  background-color: #f2f2f2eb;
}
