<form id="editServcieForm" [formGroup]="editServcieForm" (ngSubmit)="editservice(editServcieForm.value)"
  class="container" novalidate>
  <div class="row">

    <div class="form-group mx-auto col-10">
      <label class="w-100" for="title">service Name: </label>
      <input type="text" class="w-100" formControlName="title">
      <!-- <div *ngIf=" editServcieForm.controls.serviceName.errors?.required &&
           (editServcieForm.controls.serviceName.dirty || editServcieForm.controls.serviceName.touched)" required>
        <span>
          service name is required.
        </span>
      </div> -->
    </div>



    <div class="form-group mx-auto col-10">
      <label class="w-100" for="description">service Description: </label>
      <textarea cols="30" rows="5" type="text" class="w-100" formControlName="description">
  </textarea>
      <!-- <div *ngIf=" editServcieForm.controls.serviceDesc.errors?.required &&
       (editServcieForm.controls.serviceDesc.dirty || editServcieForm.controls.serviceDesc.touched)" required>
        <span>
          service description is required.
        </span>
      </div> -->
    </div>


    <div class="col-12 form-setting mt-5 text-center">
      <button [mat-dialog-close] type="submit" [disabled]="!editServcieForm.valid" class="btn mx-2">
        SAVE</button>

      <button [mat-dialog-close] class="btn mx-2">
        CANCEL</button>
    </div>



  </div>
</form>
