*:focus {
  outline: none;
  box-shadow: none;
}

#services {
  background-color: #fff;
  border-radius: 8px;
  padding: 0 !important;
  position: relative;
}


#services .services-title {
  background-color: #F60000;
  padding: 15px;
  color: white;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  margin-bottom: 50px;
}

#services .services {
  margin-top: 50px;
}

#services .service-box {
  min-height: 160px;
}

#services .service-box mat-card {
  height: 100%;
}

#services .show-btn {
  bottom: 10px;
  right: 10px;
}

#services .show-btn button {
  background-color: #F60000;
  color: white;
}

#services .add-btn {
  position: absolute;
  top: 90px;
  right: 30px;
  font-weight: 700;
  cursor: pointer;
}

#services .service-setting {
  right: 6px;
  bottom: 6px;

}

#services .single-service {
  border: 1px #b6b5b5 solid;
}

#services .service-setting mat-icon {
  margin: 0 10px;
  cursor: pointer;
}


.mat-dialog-actions {
  float: right;
}

.close-btn {
  border-radius: 6px;
  background-color: #F60000;
  color: #fff;
}

#editForm span {
  font-size: 12px;
  font-weight: 800;
}

.service-list {}

.hide {
  display: none;
}

.show {
  display: block;
}
