<!DOCTYPE html>

<section *ngIf="nonewService && nonewCategory " id="services" class="container my-3">

  <div class="mb-5">
    <div class="row">

      <div class="col-12">
        <h5 class="services-title">
          Your Company Services
        </h5>
      </div>
    </div>

    <div class="services row px-5 ">

      <div class="my-3 col-md-4  service-box p-3" *ngFor="let service of services ; index as index ">

        <mat-card class="service-content position-relative ">

          <mat-icon (click)="delCat(index)" class="secondary-color float-right">clear</mat-icon>
          <h5>{{service.title}}</h5>
          <!-- <p class="mb-5">{{service.description}}</p> -->
          <div class="text-right position-absolute show-btn">
            <button (click)="loadservices(index)" class="btn ">Show all Services</button>
          </div>

        </mat-card>

      </div>


    </div>

    <div (click)="nonewCategory=!nonewCategory" class="cat-btn secondary-color d-flex align-items-center">
      <mat-icon>add</mat-icon>Add New Category
    </div>

    <div (click)="nonewService=!nonewService" class="serv-btn secondary-color d-flex align-items-center">
      <mat-icon>add</mat-icon>Add New Service
    </div>


    <div [ngClass]=" serv? 'show' : 'hide' " class="row p-5 ">


      <div class="single-service col-12 p-3 my-3 " *ngFor="let serv of servicesDetails ; index as i">
        <h5><span>{{i + 1}}. </span>{{serv.title}}</h5>

        <div class="position-absolute service-setting">

          <mat-icon (click)="openDialog(i)">visibility</mat-icon>
          <mat-icon (click)="openEditDialog(i)" class="edit-color">edit</mat-icon>
          <mat-icon (click)="deleteSingleService(i)" class="secondary-color">clear</mat-icon>
        </div>
      </div>

    </div>
  </div>
</section>

<ng-container *ngIf="!nonewService">
  <div class="container my-3" id="newServices">
    <div class="mb-5">
      <div class="row">

        <div class="col-12">
          <h5 class="newServices-title">
            Add New Service !
          </h5>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <form [formGroup]="newService" (ngSubmit)="submitNewService(newService.value)" class=" px-5 ">

            <div class="row ">

              <div class="form-group mx-auto col-10">
                <label class="w-100" for="newServiceName">Service Name: </label>
                <input type="text" id="newServiceName" class="w-100" formControlName="newServiceName" required>
                <div style="color:red" *ngIf=" newService.controls.newServiceName.errors?.required &&
                 (newService.controls.newServiceName.dirty || newService.controls.newServiceName.touched)">
                  <h6>
                    Service name is required.
                  </h6>
                </div>
              </div>

              <div class="col-10 mx-auto">
                <div class="row">
                  <div class="form-group mx-auto col-6">
                    <label class="w-100" for="newServiceCat">Service Category: </label>
                    <select formControlName="newServiceCat" id="newServiceCat" required class="w-100">
                      <option *ngFor="let cat of mainCategories">{{cat}}</option>
                    </select>
                    <div style="color:red" *ngIf=" newService.controls.newServiceCat.errors?.required &&
                  (newService.controls.newServiceCat.dirty || newService.controls.newServiceCat.touched)">
                      <h6>
                        Service category is required.
                      </h6>
                    </div>

                  </div>


                  <div class="form-group mx-auto col-6">
                    <label class="w-100">Service Image: </label>
                    <label class="w-100  service-img" for="newServiceImg">{{newImgLabel}}</label>
                    <input type="file" accept="image/*" id="newServiceImg" formControlName="newServiceImg" required
                      (change)="readFile($event.target.files)">

                    <div style="color:red" *ngIf=" newService.controls.newServiceImg.errors?.required &&
                     (newService.controls.newServiceImg.errors?.noFile || newService.controls.newServiceImg.touched )">
                      <h6>
                        Service image is required.
                      </h6>
                    </div>

                  </div>
                </div>
              </div>



              <div class="form-group mx-auto col-10">
                <label class="w-100" for="newServiceCat">Service Description: </label>
                <textarea cols="30" rows="5" type="text" class="w-100" formControlName="newServiceDesc"
                  required></textarea>
                <div style="color:red" *ngIf=" newService.controls.newServiceDesc.errors?.required &&
                 (newService.controls.newServiceDesc.dirty || newService.controls.newServiceDesc.touched)">
                  <h6>
                    Service description is required.
                  </h6>
                </div>
              </div>

            </div>
            <div class="row form-setting my-5">
              <div class="col-12  text-center">
                <button type="submit" [disabled]="!newService.valid" class="btn mx-3">
                  SAVE</button>
                <button class="btn mx-3" (click)="nonewService=!nonewService">
                  CANCEL</button>
              </div>
            </div>

          </form>
        </div>

      </div>


    </div>
  </div>
</ng-container>


<ng-container *ngIf="!nonewCategory">
  <div class="container my-3" id="newCategory">
    <div class="mb-5">
      <div class="row">

        <div class="col-12">
          <h5 class="newCat-title">
            Add New Category !
          </h5>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <form [formGroup]="newCat" (ngSubmit)="submitNewCat(newCat.value)" class=" px-5 ">

            <div class="row ">

              <div class="form-group mx-auto col-10">
                <label class="w-100" for="newCatName">Category Name: </label>
                <input type="text" id="newCatName" class="w-100" formControlName="newCatName" required>
                <div style="color:red" *ngIf=" newCat.controls.newCatName.errors?.required &&
                 (newCat.controls.newCatName.dirty || newCat.controls.newCatName.touched)">
                  <h6>
                    Category name is required.
                  </h6>
                </div>
              </div>



              <div class="form-group mx-auto col-10">
                <label class="w-100">Category Image: </label>
                <label class="w-100  cat-img" for="newCatImg">{{newImgLabel}}</label>
                <input type="file" accept="image/*" id="newCatImg" formControlName="newCatImg" required
                  (change)="readFile($event.target.files)">

                <div style="color:red" *ngIf=" newCat.controls.newCatImg.errors?.required &&
                     (newCat.controls.newCatImg.errors?.noFile || newCat.controls.newCatImg.touched )">
                  <h6>
                    Category image is required.
                  </h6>
                </div>

              </div>



              <div class="form-group mx-auto col-10">
                <label class="w-100" for="newCatDesc">Category Description: </label>
                <textarea cols="30" rows="5" type="text" class="w-100" formControlName="newCatDesc" required></textarea>
                <div style="color:red" *ngIf=" newCat.controls.newCatDesc.errors?.required &&
                 (newCat.controls.newCatDesc.dirty || newCat.controls.newCatDesc.touched)">
                  <h6>
                    Category description is required.
                  </h6>
                </div>
              </div>

            </div>
            <div class="row form-setting my-5">
              <div class="col-12  text-center">
                <button type="submit" [disabled]="!newCat.valid" class="btn mx-3">
                  SAVE</button>
                <button class="btn mx-3" (click)="nonewCategory=!nonewCategory">
                  CANCEL</button>
              </div>
            </div>

          </form>
        </div>

      </div>


    </div>
  </div>
</ng-container>
