<section class="login-box w-100 pt-5">
  <div class="logo-box text-center pt-5 pb-3 ">
    <img class="w-25" src="../../assets/fahmawy-motherday-[Recovered].png">
  </div>
  <div class="card mx-auto">
    <div class="card-body">
      <form class="w-75 mx-auto py-3 " [formGroup]="loginForm" (ngSubmit)="onLogin(loginForm.value)">
        <input class="w-100" type="email" formControlName="userName" placeholder="Please,enter the Email" required>

        <div class="error text-center" *ngIf="loginForm.controls['userName'].hasError('required')
                      && loginForm.controls['userName'].touched "><span style="font-size:12px;">Please enter the
            Email!</span>
        </div>

        <input class="w-100" type="password" formControlName="userPass" placeholder="Please,enter the password "
          required>
        <div class="error text-center" *ngIf="loginForm.controls['userPass'].hasError('required')
                      && loginForm.controls['userPass'].touched "><span style="font-size:12px;">Please enter the
            password!</span>
        </div>

        <div class="remember-user">
          <label class="container">Remember me?
            <input (change)="rememberMe($event)" type="checkbox" formControlName="rememberUser">
            <span class="checkmark"></span>
          </label>
        </div>

        <div class="text-right pt-5">
          <button class="btn btn-login" type="submit" [disabled]="!loginForm.valid">Login</button>

          <button class="btn btn-secondary m-2" type="reset">Cancel</button>
        </div>
      </form>

      <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}
        <p>
          "An error occured,please make sure of your credentials and try again."
        </p>
      </div>
      <!-- <h5 class="card-title"></h5>
                <p class="card-text"></p> -->

    </div>

  </div>

</section>
