section.login-box {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  background-color: #EFEFEF;
  min-height: 100%;
}

input[type="email"],
input[type="password"],
input[type="email"]:focus,
input[type="password"]:focus {
  padding: 6px;
  border-radius: 11px;
  margin: 10px 0;
  outline: none;
  border: 1px solid white;
  background-color: white !important;
  color: #646464;

}

input::placeholder {
  color: #D6D6D6;
}

.btn-login {
  background-color: #F60000;
  color: white;
}

button:focus,
button {
  outline: none;
  box-shadow: none;
}

.card {
  border: none;
  width: 45%;
  background-color: #F7F7F7;
  border-radius: 14px;
  -webkit-box-shadow: 0px 0px 14px 3px rgba(214, 214, 214, 0.95);
  -moz-box-shadow: 0px 0px 14px 3px rgba(214, 214, 214, 0.95);
  box-shadow: 0px 0px 14px 3px rgba(214, 214, 214, 0.95);
}

.error {
  color: red;
}

.remember-user {
  margin: 10px 20px;
}

.remember-user .container {
  display: block;
  position: relative;
  padding-left: 26px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

}

.remember-user .container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.remember-user .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #d9d9d9;
}



.remember-user .container input:checked~.checkmark {
  background-color: #F60000;
}

.remember-user .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked~.checkmark:after {
  display: block;
}

.remember-user .container .checkmark:after {
  left: 7px;
  top: 0px;
  width: 7px;
  height: 15px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}
