*:focus {
  outline: none;
  box-shadow: none;
}


.show {
  height: 100px;
  overflow-y: scroll;
  transition: height .4s ease-out;

}

.hide {
  height: 0;
  overflow: hidden;
  transition: height .4s ease-out;

}

.cat-btn {
  right: 50px;
  position: absolute;
  top: 90px;
  font-weight: 700;
  cursor: pointer;
}

#categories {
  background-color: #fff;
  border-radius: 8px;
  padding: 0 !important;
  position: relative;
}


#categories .categories-title {
  background-color: #F60000;
  padding: 15px;
  color: white;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  margin-bottom: 100px;
}

#categories .categories {
  margin-top: 50px;
}

#categories .s-categories {
  margin-bottom: 6rem;
}

#categories .s-categories-title h4 {
  text-align: center;
  font-weight: 700;
}

#categories .s-list {}

#categories .s-list-item-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px 20px;
  margin-bottom: 10px;
  background-color: #d9d9d9;

}

#categories .s-list-item-top span {
  font-size: 16px;
  font-weight: 700;
}

#categories .s-list-item-top mat-icon {
  cursor: pointer;
}

#categories .s-list-item-content {
  transition: height .4s ease-out;

}

#categories .s-list-item {
  padding: 10px 50px;
}

.form-setting button:nth-of-type(1) {
  background-color: #F60000;
  color: #fff;
}

.form-setting button:nth-of-type(2) {
  background-color: #000;
  color: #fff;
}

textarea {
  resize: none;
  border-radius: 5px;
  border: 1px solid #f2f2f2eb;
  color: #646464;
  font-size: 15px;
  background-color: #f2f2f2eb;
}

input {
  border-radius: 5px;
  border: 1px solid #f2f2f2eb;
  color: #646464;
  padding: 6px;
  font-size: 15px;
  background-color: #f2f2f2eb;
}



#categories .p-categories {
  margin-bottom: 6rem;
}

#categories .p-categories-title h4 {
  text-align: center;
  font-weight: 700;
}

#categories .p-list {}

#categories .p-list-item-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px 20px;
  margin-bottom: 10px;
  background-color: #d9d9d9;

}

#categories .p-list-item-top span {
  font-size: 16px;
  font-weight: 700;
}

#categories .p-list-item-top mat-icon {
  cursor: pointer;
}

#categories .p-list-item-content {
  transition: height .4s ease-out;

}

#categories .p-list-item {
  padding: 10px 50px;
}


#newCategory .newCat-title {
  background-color: #F60000;
  padding: 15px;
  color: white;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  margin-bottom: 50px;
}

#newCategory {
  background-color: #fff;
  border-radius: 8px;
  padding: 0 !important;
}

#newCategory input {
  padding: 15px;
  border-radius: 5px;
  border: 1px solid #f2f2f2eb;
  color: #646464;
  font-size: 15px;
  background-color: #f2f2f2eb;
  margin: 0 auto;
  max-height: 2em
}

#newCategory label {
  font-weight: 700;
}

#newCategory h6 {
  font-size: 11px;
  font-weight: 700;
}

#newCategory .form-group {
  margin-bottom: 30px;
}

#newCategory textarea {
  resize: none;
  border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #f2f2f2eb;
  color: #646464;
  font-size: 15px;
  background-color: #f2f2f2eb;
}

#newCategory .form-setting button:nth-of-type(1) {
  background-color: #F60000;
  color: #fff;
}

#newCategory .form-setting button:nth-of-type(2) {
  background-color: #000;
  color: #fff;
}

#newCategory input[type=file] {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

#newCategory .cat-img {
  font-size: 14px;
  background-color: #646464;
  border-radius: 4px;
  padding: 5px 0;
  padding-left: 6px;
  color: #fff;
  cursor: pointer;
}
