#categories {
  background-color: #fff;
  border-radius: 8px;
  padding: 0 !important;
  position: relative;
}


#categories .categories-title {
  background-color: #F60000;
  padding: 15px;
  color: white;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  margin-bottom: 20px;
}

#categories .categories {
  margin-top: 20px;
}

#categories .category-box {
  min-height: 260px;
  padding: 10px;
}

/* #categories .project-box mat-card {
  height: 100%;
}

#categories .add-btn {
  position: absolute;
  top: 90px;
  right: 30px;
  font-weight: 700;
  cursor: pointer;
}

#categories .project-setting {
  bottom: 0;
  right: 5%;
}

#categories .project-setting mat-icon {
  margin: 0 10px;
  cursor: pointer;
} */

/* #categories .popup {
  position: fixed;
  top: 50%;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  right: 0;
  height: 250px;
  width: 80%;
  background: #000;
  transition: opacity 500ms;
  z-index: 9;
}

#categories .popup mat-icon {
  cursor: pointer;
  float: right;
} */
