/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.prim-color {
  color: #fff;
}

.secondary-color {
  color: #F60000;
}

.edit-color {
  color: green;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}
